.cash-book {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.cash-book-content {
    display: flex;
    justify-content: space-between;
}

.assets-section, .capital-liabilities-section {
    width: 48%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    text-decoration: underline;
    margin-bottom: 10px;
}

.account-type {
    margin-bottom: 15px;
}

.account-category {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.totals {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-top: 2px solid #000;
    padding-top: 10px;
    font-weight: bold;
}

.total-assets, .total-liabilities {
    width: 48%;
    display: flex;
    justify-content: space-between;
}


.a4-print {
    width: 310mm;
    /* height: 297mm; */
    box-sizing: border-box;
    margin: auto;
  }
  
  .table-container {
    overflow-x: auto;
  }
  
  .table-container table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table-container th, .table-container td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .table-container th {
    background-color: #f4f4f4;
  }
  
  @media print {
    .a4-print {
        width: 310mm;
        /* height: 297mm; */
        padding: 10mm;
    }
  
    .table-container {
      overflow-x: auto;
    }
    
    .table-container table {
      width: 100%;
      border-collapse: collapse;
    }
    
    .table-container th, .table-container td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
      font-size: 15px;
    }
    
    .table-container th {
      background-color: #f4f4f4;
    }
  }